<p>
    <mat-toolbar >
        <mat-toolbar-row>
            <img src="../../../assets/logo/logo.png" alt="" style="width: 9rem; align-items: center;">
            <span class="example-spacer"></span>
          <button  href="https://www.linkedin.com/in/donizete-junior-5196211a7/" target="_blank" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <a class="fa-brands fa-linkedin" style="color: #0E76A8;"></a>          
        </button>
        </mat-toolbar-row>
    </mat-toolbar>

 <app-list-medicamento></app-list-medicamento>
 
</p>