.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to bottom, black, yellow);
  color: white;
}

.error-message {
  color: red;
}
