<div class="container">
  <h1 mat-dialog-title style=" justify-content: center; margin-left: 9rem; font-size: x-large; color: #ffffff; font-family: 'Bebas Neue', sans-serif;">{{operacao}} Medicamento</h1>
</div>
<form  [formGroup]="form" (ngSubmit)="addMedicamento()">
  <mat-dialog-content>

    <div class="row">
        <div class="column">
              <mat-form-field appearance="fill">
                <mat-label>Laboratório</mat-label>
                <input formControlName="laboratorio" matInput>
              </mat-form-field>
              <div class="error">
              </div>
        </div>
    </div>
    
      <!-- formulario -->
    
    <div class="row">
        <div class="column">
            <mat-form-field appearance="fill">
                <mat-label>Nome do Medicamento</mat-label>
                <input formControlName="nome" matInput >
            </mat-form-field>
            <div class="error">
          
            </div>
            <mat-form-field appearance="fill">
                    <mat-label>Forma Farmaceutica</mat-label>
                    <mat-select formControlName="forma_farmaceutica" required>
                      <mat-option *ngFor="let item of tipoForma" [value]="item">
                        {{item}}
                      </mat-option>
                    </mat-select>
            </mat-form-field>
        </div>  
    </div>
    
      <mat-form-field appearance="fill">
        <mat-label>Descrição</mat-label>
        <input formControlName="descricao"matInput >
      </mat-form-field>
      <div class="error">

      </div>
      <mat-form-field appearance="fill">
        <mat-label>Quantidade</mat-label>
        <input formControlName="quantidade"matInput >
      </mat-form-field>
      <div class="error">
       
      </div>
      <div class="row">
        <div class="column">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Data de Fabricação</mat-label>
            <input formControlName="data_lan" matInput [matDatepicker]="lanPicker">
            <mat-hint></mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="lanPicker"></mat-datepicker-toggle>
            <mat-datepicker touchUi #lanPicker></mat-datepicker>
          </mat-form-field>
          <div class="error">
           
          </div>
        </div>
        <div>
           <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Data de Vencimento</mat-label>
            <input formControlName="data_val" matInput [matDatepicker]="valPicker">
            <mat-hint></mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="valPicker"></mat-datepicker-toggle>
            <mat-datepicker touchUi #valPicker></mat-datepicker>
          </mat-form-field>
          <div class="error">
           
        </div>
      </div>
      </div>
   
  
      <!-- fimformulario -->
    </mat-dialog-content>
    <mat-dialog-actions align="end" >
      <button class="cancelar-btn btn-2" type="submit" (click)="cancelar()"><i class="fa-solid fa-xmark"></i> Cancelar</button>
      <button type="button" class="add-btn btn-2" cdkFocusInitial (click)="registrar()" color="sucess"><i class="fa-solid fa-check"></i>Salvar</button>
    </mat-dialog-actions>
</form>

